<% @entries.each do |entry| %>
  
  <div class="entry">
    <div class="meta"><%= entry.created_at.strftime("%B %d, %Y") %></div>
    <h1><a href="<%= entry_path(entry) %>"><%= entry.title %></a></h1>
    <%= truncate(entry.body, length: 900, escape: false, separator: ' ' ) %>
  </div>

<% end %>
