<h1>Disclaimer</h1>

<h2>No Rendering of Advice</h2>
<p>The information contained within this website is provided for informational purposes only and is not intended to and must not be taken as a substitute for obtaining accounting, tax, legal, or other professional advice from a tax resolution professional (e.g, an Enrolled Agent, CPA, attorney, etc.).  Presentation of the information via the internet is not intended to create, and receipt does not constitute, a tax professional-client (or attorney-client) relationship. Internet subscribers, users and online readers are advised not to act upon this information without seeking the service of a tax resolution professional.</p>

<h2>Accuracy of Information</h2>
</p>The information contained in this website is provided by FatRoth. While we endeavor to keep the information up-to-date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose.  Any reliance you place on such information is therefore strictly at your own risk. We assume no responsibility for any errors or omissions in the content of this website or such other materials or communications.</p>

<h2>Disclaimer of Warranties and Limitations of Liability</h2>
<p>This website is provided on an “as is” and “as available” basis. In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in connection with the use of this website. Neither FatRoth nor our affiliates shall be liable for any damages of any kind due to the use of this website.</p>

<h2>Links to Third Party Websites</h2>
<p>For your convenience, this website may contain hyperlinks to websites and servers maintained by third parties. We not control, evaluate, endorse or guarantee content found in those sites. We do not assume any responsibility for the actions, products, services and content of these sites or the parties that operate them. Your use of such sites is entirely at your own risk.</p>