@import 'variables';

body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 28px;
  color: #333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #4A4A4A;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  margin: 12px 0 21px 0;
  font-size: 36px;
  line-height: 46px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);

  a {
    color: #333 ;
    border-bottom: 1px dashed lighten( $orange, 35%);
  }

  a:hover {
    background: rgba(255, 81, 19, 0.05);
  }

}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 32px 0 10px 0;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 26px 0 4px;
}

h4 {
  margin: 0;
}

.intro-text {
  font-size: 22px;
  line-height: 32px;
  font-family: 'PT Serif',serif;
  font-weight: 400;
  margin: 0 0 28px;
}

a {
  text-decoration: none;
}

a:hover {
}

p, li, table {
  a {
    text-decoration: none;
    border-bottom: 1px solid $orange;
    color: #333;
    background: rgba(255, 81, 19, 0.05);
  }

  a:hover {
    color: $orange;
  }
}

img {
}

div {
  // border: 1px solid red;
}

i {
  margin: 2em 0 1em 0;
  font-weight: 300;
  color: #888;
  font-size: 14px;
}

p {
  margin: 0 0 20px 0;
}

p, li {
}

ul {
  list-style: square;
}

li {
}

blockquote{
  color: #666;
  line-height: 25px;
  border-left: 5px solid $green;
  padding-left: 1.5em;
  font-size: 16px;
  margin-left: 4px !important;
}

code {
  font-size: 13px !important;
  padding: 0 4px;
}

pre {
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
}

code, pre {
  background-color: #FDF6E3;
}

#nav {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 15px;
}

nav {
  width: 960px;
  margin: 20px auto;
}

table { 
    border-collapse: collapse; 
}

.nav-container {
}

.logo {
}

.logo:hover {
  opacity: 0.7;
}

#layout {
  margin: 0 auto;
}

.sidebar {
  margin-left: 10px;
}

.sidebar-wrapper {
}

.content {
}

.content-container {
  margin: 15px 25px 0 0;
}

.meta {
  font-size: 16px;
  line-height: 20px;
  color: $orange;
}

.icons{
  span {
    color: lighten($grayLight, 10%);
    font-size: 22px;
  }
  span:hover {
    color: $gray;
  }
}

.entry {
  margin: 0 0 90px 0;
  border-bottom: 2px dashed #b3b3b3;

  img {
    max-width: 100%;
    padding: 10px;
    border: 1px solid #f6f6f6;
    box-shadow: 0px 2px 9px rgba(77, 77, 77, 0.12);
  }

  p.caption {
    font-size: 12px;
    color: $gray;
    font-style: italic;
    margin-top: 0px !important;
  }

  .figure {
    text-align: center;
    margin: 40px 0;
  }

  table {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    margin: 40px 0;

    .header {
      background: #f7f7f7;
    }

    tr, td {
      border: 1px solid #EAEAEA;
    }

    td, th {
      padding: 10px;
    }
  }

}

.footer {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-style: italic;
  color: $grayLighter;
  margin-top: 30px;
  a {
    color: $grayLighter;
  }
}


.popular {
  max-width: 100%;
  padding: 14px 20px;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 2px 9px rgba(77, 77, 77, 0.12);
  margin-top: 20px;
  
  .popular-title {
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    color: $orange;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    border-bottom: 2px dotted #ddd;
    font-size: 14px;
    line-height: 18px;
    padding: 13px 0;
    font-family: 'PT Sans', sans-serif;
    a {
      color: #333333;
      border: none;
      background: none;
    }
    a:hover {
      background: rgba(255, 81, 19, 0.05);
    }
  }

}

.ads {
  img {
    height: 40px;
  }

  .header {
    height: 60px;
    background: $orange !important;
    color: white;
    font-size: 25px;
  }

  .provider {
    td {
      width: 25%;
    }
    a {
      text-decoration: none;
      border: none;
      background: none;
    }
  }

  .cta {
    display: inline-block;
    margin-top: 10px;
  }
}


@media screen and (max-width: 599px) {
  #layout {
    margin: 15px;
  }
  .sidebar {
    margin: 0;
  }
  .content-container {
    margin: 0;
  }
  .nav-container{
    margin: 0 15px;
  }
  blockquote {
    margin: 1em 10px !important;
  }
}

@media screen and (min-width:600px) and (max-width:768px) {
  .content-container {
    margin: 15px;
  }
  .nav-container{
    margin: 0 15px;
  }
}

// Refer to http://stackoverflow.com/questions/8564752/good-widths-for-media-queries-on-responsive-site

@media screen and (min-width: 960px) {
  #layout {
    width: 960px;
  }
}
